### Ansible templated

auto vmbr0
  iface vmbr0 inet static
  address {{ virtnet_addr }}.1
  netmask 255.255.255.0
  bridge_ports none
  bridge_stp off
  bridge_fd 0
  post-up echo 1 > /proc/sys/net/ipv4/ip_forward
  post-up iptables -t nat -A POSTROUTING -s '{{ virtnet_addr }}.0/24' -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
  post-down iptables -t nat -D POSTROUTING -s '{{ virtnet_addr }}.0/24' -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
