### Ansible templated

source /etc/network/interfaces.d/*

auto lo
iface lo inet loopback
iface lo inet6 loopback

auto enp9s0
iface enp9s0 inet static
  address 65.21.233.68
  netmask 255.255.255.192
  gateway 65.21.233.65
  # route 65.21.233.64/26 via 65.21.233.65
  up route add -net 65.21.233.64 netmask 255.255.255.192 gw 65.21.233.65 dev enp9s0

iface enp9s0 inet6 static
  address 2a01:4f9:6a:202c::2
  netmask 64
  gateway fe80::1

auto vmbr0
  iface vmbr0 inet static
  address {{ virtnet_addr }}.1
  netmask 255.255.255.0
  bridge_ports none
  bridge_stp off
  bridge_fd 0
  post-up echo 1 > /proc/sys/net/ipv4/ip_forward
  post-up iptables -t nat -A POSTROUTING -s '{{ virtnet_addr }}.0/24' -o {{ default_ipv4.interface }} -j MASQUERADE
  post-down iptables -t nat -D POSTROUTING -s '{{ virtnet_addr }}.0/24' -o {{ default_ipv4.interface }} -j MASQUERADE
